.Forecast .forecast-container {
    display: block;
    margin: 0 auto;
    padding: 30px;
  }
  
  .Forecast .forecast-day-container {
    display: block;
    margin: 0 auto;
    text-align: center;
    border-right: 2px solid rgb(140, 189, 228);
  }
  
  .Forecast .forecast-day-container-sunday {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding-left: 0;
  }
  
  .Forecast .forecast-font {
    padding-left: 10px;
  }
  
  .Forecast hr {
    color: rgb(81, 156, 218);
    padding: 3px;
  }
  
  .forecast-day {
    font-family: "Archivo Narrow", sans-serif;
    color: rgb(0, 110, 197);
    font-weight: 600;
    font-size: 14pt;
    text-transform: uppercase;
  }
  
  .weather-status-font {
    font-family: "Barlow Semi Condensed", sans-serif;
    font-style: italic;
    font-weight: 500;
    color: rgb(0, 110, 197);
  }
  
  .forecast-high-number {
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 500;
  }
  
  .forecast-low-number {
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 500;
  }
  