/*HEADER CSS */

 .date-line{
  font-weight: 500;
  margin-top: 30px;
}

 .current-time {
    color: rgb(77, 76, 72);
    font-weight: 800;
    margin-top: 30px;
  }
  
  .am-pm {
    font-size: 30pt;
    margin-left: 10px;
  }
  
  
   .weather-status {
    font-size: 22pt;
    font-family: "Archivo Narrow", sans-serif;
    font-style: normal;
    margin-left: 7px;
    text-transform: capitalize;
  }
  
/*SEARCH BAR CSS */
 .search-bar-container {
  display: block;
  margin: 0px auto;
  padding-top: 70px;
}

 .search-bar {
  border: 2px solid rgb(77, 76, 72);
  display: block;
  margin: 0 auto;
  text-transform: capitalize;
  text-align: center;
}

.spacing {
  padding-right: 4px;
}

 .magnifying-glass {
  font-size: 15pt;
  border-radius: 7px;
  transition: all 150ms ease-in-out;
}

 .magnifying-glass:hover {
  background-color: rgba(129, 129, 129, 0.555);
}

 .current-location {
  font-size: 14pt;
  background-color: rgb(0, 110, 197);
  color: white;
  border-radius: 7px;
  transition: all 150ms ease-in-out;
  font-family: "Barlow Semi Condensed", sans-serif;
}

 .current-location:hover {
  background-color: rgb(85, 171, 236);
}


  /*TEMPERATURE CSS */

.header-emoji{
  max-width: 90px;
  margin-top: -60px;
  margin-bottom: -50px;

}


.Temperatures .feels-like-text {
    color: rgb(0, 110, 197);
    font-weight: 600;
    text-align: center;
    font-size: 20pt;
    font-family: "Barlow Semi Condensed", sans-serif;
    padding-left: 0;
  }
  
  .Temperatures .currently-header {
    text-align: center;
    padding-bottom: 20px;
    font-size: 29pt;
    font-weight: bold;
  }
  
  .current-temp-item-container {
    display: flex;
    justify-content: center;
  }
  
  .Temperatures .current-temp-number {
    font-size: 28pt;
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 600;
    color: rgb(77, 76, 72);
    text-align: center;
  }


  
  .Temperatures .header-emoji {
    font-size: 28pt;
  }
  
  .Temperatures .temp-number-curr {
    display: block;
    text-align: center;
    font-weight: 600;
    font-size: 20pt;
    font-family: "Barlow Semi Condensed", sans-serif;
    color: rgb(77, 76, 72);
    padding: 0;
  }
  
  .Temperatures .temp-number-tom {
    display: block;
    text-align: center;
    font-size: 20pt;
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 600;
    color: rgb(77, 76, 72);
  }
  
  .Temperatures .current-temp-number-t {
    display: block;
    text-align: center;
    font-size: 28pt;
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 600;
    color: rgb(77, 76, 72);
  }
  
  .Temperatures .tomorrow-temp-header {
    font-size: 29pt;
    font-weight: 500;
  }
  
  .elements-tomorrow-temp {
    padding-top: 15px;
  }
  
  .Temperatures .weather-factors-container {
    display: flex;
    justify-content: space-evenly;
  }
  
  .current-factors-container {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
  }
  
  .tomorrow-factors-container {
    display: flex;
    justify-content: space-evenly;
  }
  
  .thermo-colour {
    color: rgb(0, 110, 197);
  }
  
  .factor-header-wind {
    color: rgb(51, 144, 216);
  }


  
  .factor-header-colour {
    color: rgb(51, 144, 216);
    padding: 23px;
    padding-bottom: 0;
    display: block;
    text-align: center;
  }
  
  .curr-wind-section {
    text-align: center;
    font-weight: 500;
    font-size: 14pt;
  }
  
  .wind-speed-number {
    display: block;
    margin: 0 auto;
    color: rgb(77, 76, 72);
  }
  
  .factor-header-rain {
    color: rgb(51, 144, 216);
  }
  
  .curr-rain-section {
    text-align: center;
    font-weight: 500;
    font-size: 14pt;
  }
  
  .rain-number {
    display: block;
    margin: 0 auto;
    color: rgb(77, 76, 72);
  }
  
  .curr-low-section {
    text-align: center;
    font-weight: 500;
    font-size: 14pt;
  }
  
  .low-temp-number {
    display: block;
    margin: 0 auto;
    color: rgb(77, 76, 72);
  }
  
  .curr-high-section {
    text-align: center;
    font-weight: 500;
    font-size: 14pt;
  }
  
  .high-temp-number {
    display: block;
    margin: 0 auto;
    color: rgb(77, 76, 72);
  }
  
  /*TOMORROW FACTORS */
  
  .tom-wind-section {
    text-align: center;
    font-weight: 500;
    font-size: 14pt;
  }
  
  .wind-speed-number-tom {
    display: block;
    margin: 0 auto;
    color: rgb(77, 76, 72);
  }
  
  .tom-rain-section {
    text-align: center;
    font-weight: 500;
    font-size: 14pt;
  }
  
  .rain-number-tom {
    display: block;
    margin: 0 auto;
    color: rgb(77, 76, 72);
  }
  
  .tom-low-section {
    text-align: center;
    font-weight: 500;
    font-size: 14pt;
  }
  
  .low-temp-number-tom {
    display: block;
    margin: 0 auto;
    color: rgb(77, 76, 72);
  }
  
  .tom-high-section {
    text-align: center;
    font-weight: 500;
    font-size: 14pt;
  }
  
  .high-temp-number-tom {
    display: block;
    margin: 0 auto;
    color: rgb(77, 76, 72);
  }
  
  /* FORECAST CSS */

  .Forecast .forecast-container {
    display: block;
    margin: 0 auto;
    padding: 35px;
  }
  
  .Forecast .forecast-day-container {
    display: block;
    margin: 0 auto;
    text-align: center;
    border-right: 2px solid rgb(140, 189, 228);
  }
  
  .Forecast .forecast-day-container-sunday {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding-left: 0;
  }
  
  .Forecast .forecast-font {
    padding-left: 10px;
  }
  
  .Forecast hr {
    color: rgb(81, 156, 218);
    padding: 3px;
  }
  
  .forecast-day {
    font-family: "Archivo Narrow", sans-serif;
    color: rgb(0, 110, 197);
    font-weight: 600;
    font-size: 14pt;
    text-transform: uppercase;
  }
  
  .weather-status-font {
    font-family: "Barlow Semi Condensed", sans-serif;
    font-style: italic;
    font-weight: 500;
    color: rgb(0, 110, 197);
    text-transform: capitalize;
  }

  .Forecast .emoji-forecast{
    max-width: 55px;
  }
  
  .forecast-high-number {
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 500;
  }
  
  .forecast-low-number {
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 500;
  }
  